@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name=" viewport" content="width=device-width" />
    <title>Выбранная тема</title>
</head>
<body>
    <div>
        <h3>@ViewBag.NeedTheme.ThemeName</h3>
        <form action="/Home/Delete/@ViewBag.NeedTheme.Id">
            <button>Удалить тему</button>
        </form>
        <h4>Автор темы:</h4>
        <p>@ViewBag.NeedTheme.Author</p>
        <h4>Вопрос автора:</h4>
        <p>@ViewBag.NeedTheme.ThemeName</p>
        <h4>Ответов:</h4>
        <p>@ViewBag.NeedTheme.Answers</p>
        <h4>Просмотров:</h4>
        <p>@ViewBag.NeedTheme.Views</p>

        <form action="/Home">
            <button>Вернуться к списку тем</button>
        </form>
    </div>
</body>
</html>